@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 1rem 3rem;
  font-family: "Questrial", sans-serif;
  background-color: rgb(248 250 252);
}

h1 {
  font-size: 3rem;
  margin: 2rem auto 4rem auto;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  max-width: 1000px;
  margin: auto;
}

@media screens and (max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 180px;
  border-radius: 0.5rem;
  height: 250px;
  background-color: white;
  padding: 0.5rem;
}

.card > * {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
}

/* GRADIENT BACKGROUNDS */
.card-1 {
  background-image: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
}

.card-2 {
  background-image: linear-gradient(
    64.3deg,
    rgba(254, 122, 152, 0.81) 17.7%,
    rgba(255, 206, 134, 1) 64.7%,
    rgba(172, 253, 163, 0.64) 112.1%
  );
}

.card-3 {
  background-image: linear-gradient(
    129.1deg,
    rgba(243, 199, 83, 1) 26.8%,
    rgba(18, 235, 207, 1) 114.1%
  );
}

.card-4 {
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
}

.card-5 {
  background-image: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
}

.card-6 {
  background-image: radial-gradient(
    circle farthest-corner at 10.2% 55.8%,
    rgba(252, 37, 103, 1) 0%,
    rgba(250, 38, 151, 1) 46.2%,
    rgba(186, 8, 181, 1) 90.1%
  );
}

.card-7 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
}

.card-8 {
  background-image: linear-gradient(
    359.8deg,
    rgba(252, 255, 222, 1) 2.2%,
    rgba(182, 241, 171, 1) 99.3%
  );
}

.card-9 {
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(37, 249, 245, 1) 0%,
    rgba(8, 70, 218, 1) 90%
  );
}

.card-10 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 229, 168, 1) 0%,
    rgba(251, 174, 222, 1) 100.7%
  );
}

.card-11 {
  background-image: linear-gradient(
    114.2deg,
    rgba(121, 194, 243, 1) 22.6%,
    rgba(255, 180, 239, 1) 67.7%
  );
}

.card-12 {
  background-image: linear-gradient(
    90deg,
    rgba(255, 157, 129, 1) 24.3%,
    rgba(255, 78, 78, 1) 78.3%
  );
}

.card-13 {
  background-image: linear-gradient(
    89.9deg,
    rgba(178, 253, 238, 0.96) -8.1%,
    rgba(207, 244, 254, 1) 26.3%,
    rgba(207, 244, 254, 0.48) 47.5%,
    rgba(254, 219, 243, 0.63) 61.5%,
    rgba(254, 219, 243, 1) 78.7%,
    rgba(254, 207, 210, 1) 109.2%
  );
}

.card-14 {
  background-image: linear-gradient(
    109.6deg,
    rgba(33, 25, 180, 1) 11.2%,
    rgba(253, 29, 29, 1) 55.2%,
    rgba(252, 176, 69, 1) 91.1%
  );
}

.card-15 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(130, 205, 221, 1) 0%,
    rgba(255, 247, 153, 1) 90%
  );
}

.card-16 {
  background-image: linear-gradient(
    109.5deg,
    rgba(76, 221, 242, 1) 11.2%,
    rgba(92, 121, 255, 1) 91.1%
  );
}

.card-17 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 101, 133, 1) 0%,
    rgba(255, 211, 165, 1) 90%
  );
}

.card-18 {
  background-image: radial-gradient(
    circle 654px at 0.6% 48%,
    rgba(12, 170, 255, 1) 0%,
    rgba(151, 255, 129, 1) 86.3%
  );
}

.card-19 {
  background-image: radial-gradient(
    circle farthest-corner at 0.1% 53.8%,
    rgba(255, 182, 172, 1) 0%,
    rgba(255, 123, 172, 1) 100.2%
  );
}

.card-20 {
  background-image: radial-gradient(
    circle farthest-corner at 5.3% 17.2%,
    rgba(255, 208, 253, 1) 0%,
    rgba(255, 237, 216, 1) 90%
  );
}

.card-21 {
  background-image: linear-gradient(
    109.6deg,
    rgba(98, 210, 141, 0.88) 11.2%,
    rgba(234, 245, 45, 0.79) 88%
  );
}

.card-22 {
  background-image: linear-gradient(
    109.6deg,
    rgba(227, 236, 62, 0.68) 11.2%,
    rgba(230, 29, 58, 0.78) 91.3%
  );
}

.card-23 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(222, 168, 248, 1) 0%,
    rgba(168, 222, 248, 1) 21.8%,
    rgba(189, 250, 205, 1) 35.6%,
    rgba(243, 250, 189, 1) 52.9%,
    rgba(250, 227, 189, 1) 66.8%,
    rgba(248, 172, 172, 1) 90%,
    rgba(254, 211, 252, 1) 99.7%
  );
}

.card-24 {
  background-image: linear-gradient(
    110.9deg,
    rgba(44, 221, 239, 1) 1.1%,
    rgba(14, 191, 210, 1) 37.6%,
    rgba(8, 127, 140, 1) 99.2%
  );
}
